body {
    padding-top: 80px;
}

.subgroup-list {
    max-height: 200px;
    overflow-y: scroll;
    border-radius: 4px;
    border: 1px solid #eeeeee;
    padding: 10px 0;
}

#sidebar ul {
    max-height: 200px;
    overflow-y: scroll;
    border-radius: 4px;
    border: 1px solid #eeeeee;
    padding: 12px 6px;
}